body {
    font-size: 16px;
}

p {
    font-size: 3em;
    font-style: italic;
    line-height: 60%;
    text-align: center;
    text-decoration: solid;

}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;

}

.cor {
    background: black;
}

.yellow {
    background-color: yellow;
}

.red{
    background-color: red;
}

.brown {
    background-color: brown;
}